:root {
  --primary: #6164B8;
  --white :#ffffff;
  --secondary: #CEE1EB;
  --third: #AA1E22;
  --black:black;
  --warning:#EBD985;
}

@font-face{
  font-family:"title";
  src: url('/fonts/FugazOne-Regular.ttf');
}


#body{
  background-color:var(--secondary);
  scroll-behavior: smooth;
}

#nav{
  background-color:var(--secondary);
}

#button{
  text-decoration: none;
  padding:5px 15px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#home{
  padding-bottom: 100px;
}

.masuk{
  background-color: var(--primary);
  color: var(--white);
}

.daftar{
  background-color: var(--primary);
  color: var(--white);
}

.masuk:hover{
  text-decoration:none;
  color: var(--white);
}

.daftar:hover{
  text-decoration:none;
  color: var(--white);
}

.home_img{
  position:absolute;
  z-index: 2;
  top:0;

}

.semi-rounded{
  transform: translate(60%); 
  height: 515px; 
  width: 350px; 
  border-radius: 0 500px 500px 0; 
  background-color: var(--primary);
}
.semi-rounded2{
  transform: translate(60%); 
  height: 515px; 
  width: 330px; 
  border-radius: 0 500px 500px 0; 
  background-color: var(--warning);
}

.title-home{
  color: var(--primary);
  font-size: 70px;
  font-family: 'title';
}
.franchise{
  color: var(--black);
  font-size: 30px;
  font-family: 'title';
  margin-top: -20px;
}

.daftar-home{
  padding: 10px 15px !important;
  background-color: var(--third);
  color: var(--white);
  border: none;
  border-radius: 20px !important;
  text-align: center;
  
}

.daftar-home:hover{
  text-decoration:none;
  color: var(--white);
  text-align: center;
}

#about{
  background-color: var(--white) !important;
  padding-top:100px;
  padding-bottom:100px;
}

#paket {
  padding-top:100px;
  padding-bottom:100px;
}

#card-paket{
  background-color: var(--primary);
  color: var(--white);
}

.btn-paket{
  background-color: var(--primary);
  color: var(--white);
}

.btn-paket:hover{
  background-color: var(--primary);
  color: var(--white);
}